.game-window {
  display: flex;
  flex-wrap: wrap;
}

.float-section {
  float: left;
}

main { display: flex; }
main > article { order: 2; max-width: 5em; flex:1; }
main > nav     { order: 1; min-width: 100px; }
main > aside   { order: 3; min-width: 100px; }
