.game-window {
  display: flex;
  flex-wrap: wrap;
}

.float-section {
  float: left;
}

.upgradePics {
  height: 50px;
  width: 50px;
}

main {
  display: flex;
  /*flex-flow: row;*/
  justify-content: center;
}
main { display: flex; }
main > article { order: 2; max-width: 5em; flex:1; }
main > nav     { order: 1; min-width: 100px; }
main > aside   { order: 3; min-width: 150px; }

/*section div {
  min-width: auto;
  min-height: auto;
}*/

/*section div p {
  width: 50 ;
  height: 50px;
}*/

#upgrades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  border-color: black;
}
